.card {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-bottom: 1px solid black;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 효과 */
  transition: box-shadow 0.3s ease; /* hover 시 자연스러운 전환 */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2); /* hover 시 더 강조된 그림자 */
}
